<!DOCTYPE html>
<html
        {% if html_markup %}
            {{ html_markup | raw }}
        {% endif %}
        >
<head>
    {% block meta %}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex,follow">
    {% endblock %}

    <title>{{ title }}</title>
    <link rel="icon" href="{{ asset('bundles/webtreeslegacytheme/images/favicon.ico') }}" type="image/x-icon">

    {% block headContents %}
    {% endblock %}

    {% if analytics %}
    {{ analytics | raw }}
    {% endif %}

    {% stylesheets '@jquery_ui_css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block head_inline_css %}
        <style type="text/css">
            body {
                color: gray;
                background-color: white;
                font: 14px tahoma, arial, helvetica, sans-serif;
                padding: 10px;
            }

            a {
                color: #81A9CB;
                font-weight: bold;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            h1 {
                color: #81A9CB;
                font-weight: normal;
                text-align: center;
            }

            li {
                line-height: 2;
            }

            blockquote {
                color: red;
            }

            .content {
                /*margin:auto; width:800px;*/
                border: 1px solid gray;
                padding: 15px;
                border-radius: 15px;
            }

            .good {
                color: green;
            }
        </style>
    {% endblock %}

    {# modernizr.js and respond.js need to be loaded before the <body> to avoid FOUC #}
    {%  javascripts '@modernizer_respond' %}
    <!--[if IE 8]><script src="{{ asset_url }}"></script><![endif]-->
    {% endjavascripts %}

    {% javascripts
        '@WebtreesLegacyBundle/Resources/public/packages/jquery-1.11.2/jquery.min.js'
        '@WebtreesLegacyBundle/Resources/public/packages/jquery-ui-1.11.2/js/jquery-ui.min.js'
        '@WebtreesLegacyBundle/Resources/public/js/webtrees.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block top_javascripts %}
        {% for js in javascript_at_top.external %}
            <script src="{{ js }}" ></script>
        {% endfor %}
        <script>
        {% for js_prio in javascript_at_top.inline %}
            {% for js_source in js_prio %}
                    {{ js_source|raw }}
            {% endfor %}
        {% endfor %}
        </script>
    {% endblock %}
</head>

<body class="container">
    <header>
    {% block headerContent %}
        <div class="header-logo"></div>
        {{ knp_menu_render('FamGenTreeAppBundle:Builder:secondaryMenu') }}
        {% if title %}
            <h1 class="header-title">{{ title }}</h1>
        {% endif %}

        {% include "WebtreesLegacyThemeBundle:Default:partial.quicksearch.html.twig" %}
        <div style="clear: both"></div>
        <nav id="menu-primary">
        {{ knp_menu_render('FamGenTreeAppBundle:Builder:primaryMenu') }}
        </nav>
    {% endblock %}
    </header>

    <main id="content" role="main">
    {% include "WebtreesLegacyThemeBundle:Default:partial.flashmessages.html.twig" %}
    {% block page_content %}
    {% endblock %}
    </main>

        <footer>
            {% block footer %}
                {% include 'WebtreesLegacyThemeBundle:Default:partial.contactlinks.html.twig' %}

                <a href="{{ powered_by_url }}" class="powered-by-webtrees" title="{{ powered_by_url }}"></a>'
            {% endblock %}
        </footer>

{% block javascript_at_end %}
    {% javascripts
        '@WebtreesLegacyBundle/Resources/public/js/jquery.wheelzoom-2.0.0.js'
        '@WebtreesLegacyBundle/Resources/public/js/jquery.colorbox-1.5.14.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% for js in javascript_at_end.external %}
         <script src="{{ js }}" ></script>
    {% endfor %}

    <script>
    {% for js_prio in javascript_at_end.inline %}
        {% for js_source in js_prio %}
            {{ js_source|raw }}
        {% endfor %}
    {% endfor %}

    activate_colorbox();
    jQuery.extend(jQuery.colorbox.settings, {
     width:"85%",
     height:"85%",
     transition:"none",
     slideshowStart:"{{ 'Play' |trans }}",
     slideshowStop:"{{ 'Stop' | trans }}",
     title: function() { return jQuery(this).data("title"); }
    });
    </script>
{% endblock %}
</body>
</html>

{% if debug %}
<!-- Execution time: {{ debug.execution_time }} -->
<!-- Memory: {{ debug.memory }} -->
<!-- SQL queries: {{ debug.sql_queries }} -->
{% endif %}
