{% extends 'FamGeneTreeSetupBundle:Default:base.html.twig' %}

{% block introduction %}

{% endblock %}

{% block content %}
    <pre>{{ dump(results) }}</pre>
    {% for result in results %}
        <h3>{{ result.name | trans }}</h3>
        <div>{{ result.description | trans | nl2br }}</div>
        <br/>
        <table class="table setup">
            <tbody>
            {% for details in result.results %}
                <tr>
                    <th class="col-name">{{ details.name }}</th>
                    <td class="col-state">{% if details.state == 'success' or details.state == 'OK' %}
                            <span class="label label-success">{{ details.state }}</span>
                        {% elseif details.state == 'warning' %}
                            <span class="label label-warning">{{ details.state }}</span>
                        {% else %}
                            <span class="label label-danger">{{ details.state }}</span>
                        {% endif %}
                    </td>
                    <td class="col-message">{{ details.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endfor %}
{% endblock %}

